h1 {
    font-size: 48px;
    text-align: center;
}

#number {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 24px;
    text-align: center;
}
#creator {
    font-size: 24px;
    position: absolute;
    top: 5%;
    right: 5%;
}


html {
    background-color: #4CB2B2;
}  

#hand {
    position: absolute;
    font-size: 48px;
    top: 5%;
    left: 5%;
    width: 500px;
    border-style: solid;
    border-radius: 5px;
    padding: 1%;
}

#bidding {
    position: absolute;
    font-size: 48px;
    top: 12%;
    right: 5%;
    text-align: center;
    vertical-align: middle;
}

table, th, td{
    border: 5px solid black;
    border-collapse: collapse;
}

#bids {
    position: absolute;
    font-size: 24px;
    top: 50%;
    left: 5%;
    border-style: solid;
    border-radius: 5px;
    padding: 1%;
}

button{
    width: 64px;
    height: 48px;
}

#answer {
    position: absolute;
    font-size: 24px;
    top: 80%;
    left: 55%;
    border-style: solid;
    border-radius: 5px;
    padding: 1%;
}

#Previous {
    position: absolute;
    font-size: 32px;
    top: 12%;
    left: 45%;
    border-style: solid;
    border-radius: 5px;
}

#Next {
    position: absolute;
    font-size: 32px;
    top: 24%;
    left: 45%;
    border-style: solid;
    border-radius: 5px;
}